.itemContactanos a{
    color: #169DBF;
}
/* MAIN */

.main{
    height: 86vh;
    overflow-y: auto;
    background-color:  rgb(255, 255, 255);
    background-image: url(/img/Backgrounds/buenosaires-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #d9d9d9;   
}


.ambosCont{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedorIconos{
    float: left;
    width: 20%;
    height: 90%;
    margin-left: 50px;
    margin-right: none;
    background-color: #b9c5da;
    border: 2px #cfcfcf solid;
    display: grid;
    grid-template-rows: 4, 1fr;
    grid-template-columns: 2;
    grid-gap: 0;
    align-items: center;
    font-style: italic;
}

#hora1{
    grid-column: 2;
    grid-row: 1;

}

#hora2{
    grid-column: 1;
    grid-row: 1;

}

#icono1{
    grid-column: 1;
    grid-row: 2;

}
#icono2{
    grid-column: 1; 
    grid-row: 3;
}
#icono3{
    grid-column: 1;
    grid-row: 4;

}
#descr1{
    grid-column: 2;
    grid-row: 2;

}
#descr2{
    grid-column: 2;
    grid-row: 3;
}
#descr3{
    grid-column: 2;
    grid-row: 4;
}

.imgIcono{
    height: 30px;
    background-color: #b9c5da;
    margin: 5px;
}


.formCont {
    display: flex;
    flex-direction: column;
    float: right;
    width: 70%;
    height: 50%;
    padding: 10px 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border: 2px #cfcfcf solid;
}


.subtituloForm {
    margin-bottom: 0.5%;
    font-size: xx-large;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-height: 100%;
    padding: 0 0 10px;
    gap: 9.7px;
    align-items: start;
  }

.formItem {
    display: flex;
    flex-direction: column;
}

fieldset{
    width: 100%;
    border: none;
}

.contenedorContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    flex: 1;
}

.formLabel {
    font-size: 16px;
    margin-bottom: 6px;
}

input {              
    border: 2px solid #8d8d8d;
    border-radius: 4px;
    background: #f9f9f9;
    height: 30px;
    min-width: 450px;
    padding: 0 16px;
    outline: none; 
}

textarea {
    border: 2px solid #8d8d8d;
    overflow: auto;
    min-width: 450px;
    min-height: 100px;
    max-width: 100%;
    max-height: 25%;
    
}

.btnSubmit {
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    height: 50%;
    background-color: #1e4dba;
    color: #fff;
    cursor: pointer;
    outline: none;
  }

.aclaracion {
    color: #3b3c3d;
    font-size: small;
}

