/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
}

/* HEADER */
.bannerSuperior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background: linear-gradient(#169DBF, #554EC8);
    height: 2vh;
    color: #D4D4D4;
}

.textoSuperior{
    font-size: 12px;
}

.bannerInferior{
    display: flex;
    justify-content: space-between;
    padding: 10px 170px 9px 120px;
    background-color: #121212;
    /* height: 70px; */
    height: 8vh;
}

.headerLogo{
    width: 350px;
    height: 38px;
}

.listaHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 750px;
    height: 38px;
}

.itemHeader{
    list-style: none;
}

.itemHeader a{
    color: #D4D4D4;
    font-style: italic;
    font-size: 1rem;
}

/* FOOTER */
.footer{
    width: 100%;
    background-color: #121212;
    color: #D4D4D4;
    text-align: center;
    height: 4vh;
}

.listaFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px;
    font-size: 1rem;
    list-style: none;
    height: 4vh;
}

.listaFooter a{
    text-decoration: none;
    color: #D4D4D4;
}


/* ------------------------------------------------------------------------------------------ */


/* MAIN */



.contenedorIconos{
    float: left;
    margin-top: 10%;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: beige;
    border: solid #121212; 
}



.imgIcono{
    height: 30px;
    background-color: beige;
    margin: 5px;
    
}
.main{
    height: 86vh;
    overflow-y: auto;
    background-image: url(/img/Background-Contactanos-BuenosAires.jpg);
    

}

.aside {
    float: right;
    width: 60%;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
    border: solid #121212; 
}
