.itemDestinos a{
    color: #169DBF;
}
/* MAIN */

.main{
    box-sizing: border-box;
    height: 86vh;
    overflow-y: auto;
    background-image: url(/img/Backgrounds/Mar-del-Plata-background.jpg);
    background-size: 100%;    
}

.contenedorCuadros {
    width: 1400px;
    padding-left: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cuadro {
    width: 350px;
    height: 400px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ececec;
    border-radius: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
.cuadro1{
    border-top: 7px solid #169DBF;
}
.cuadro2{
    border-top: 7px solid #3d7db8;
}
.cuadro3{
    border-top: 7px solid #554EC8 ;
}
.contenidoCuadro{
    width: 80%;
    height: 80%;
}
.imgCuadros{
    width: 100%;
    height: 75%;
}
.h2{
    width: 100%;
    text-align: center;
    font-size: 35px;
    border-radius: 6px;
    margin-top: 12%;
    background-color: rgb(199, 199, 199) ;
}

/* ------------------------------------------------------------------------------------- */

.oculto {
    display: none;
}
.mostrar {
    display: block;
}
.contenedorInfo{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 30px 25px 25px;
}
.title{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    padding-bottom: 20px;
    text-align: center;
}
.description{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 300;
}
.oferta{
    font-family: 'Quicksand', sans-serif;
    font-size: 400;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}
.title-gallery{
    font-family: 'Quicksand', sans-serif;
    font-size: 400;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}
.gallery img{
    font-family: 'Quicksand', sans-serif;
    max-width: 100%;
    display: block;
    margin-bottom: 0.5em;
}
.gallery{
    margin-bottom: 0.5em;
    columns: 3 320px;
    column-gap: 0.5em;
}