.itemNosotros a{
    color: #169DBF;
}

/* MAIN */

.main{
    height: 86vh;
    overflow-y: auto;
    background-image: url("/img/Backgrounds/Patio-Olmos-background.jpg");
    background-size: 100%;    
}
.contenedor{
    height: 500px;
    width: 1000px;
    margin: 60px auto 0;
    background-image: url("/img/postal.jpg");
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ececec;

}
.texto1{
    margin-top: 22%;
    grid-template-columns: 1;
    padding: 0 6% 0 10%;
    
}
.texto1 p{
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 0.8rem;
    margin-bottom: 3%;
    text-align: justify;
    color: #121212cb;
}
.texto2{
    margin-top: 61.5%;
    font-style: italic;
    padding: 0 0 0 20%;
}   
.texto2 p{
    
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    margin-bottom: 2%;
    grid-template-columns: 2;

}
.contenedorStaff{
    width: 100%;
    margin: 5% auto 0;
    padding:  2% 5% 3%;
    background-color: #ffffff8a;
}
h1{
    margin-bottom: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive; 
    font-size: 2rem;
    text-align: center;
    font-style: italic;    
}
.columna{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.presentacion{
    width: 19%;
    height: 350px;
    background: linear-gradient(#554EC8,#169DBF,aliceblue 40%) ;
    border-radius: 3%;
    box-shadow: 5px 10px 10px rgba(67, 67, 96, 0.413);
}
.usuario{
    width: 55%;
    margin: 10% 22.5%;
}
.nombreUsuario{
    padding: 0 5%;
    text-align: center;
}
.descripcionUsuario{
    padding:  10% 5%;
    text-align: center;
}


