.itemNosotros a{
    color: #169DBF;
}

/* MAIN */

.main{
    height: 86vh;
    overflow-y: auto;
    overflow: scroll;
    background-image: url("/img/Patio_Olmos\ blur.jpg");
    background-size: 100%;    
}

.contenedor{
    height: 100%;
    width: 90%;
    margin: 3% 0% 5% 5%;
    background-image: url("/img/postal.jpg");
    background-size: cover;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ececec;

}
.texto1{
    margin-top: 30%;
    grid-template-columns: 1;
    
}
.texto1 p{
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 0.8vw;
    margin-bottom: 3%;
    margin-left: 7%;
    text-align: justify;
    color: #121212cb;
}
.texto2{
    margin-top: 60%;
    font-style: italic;
}
   
.texto2 p{
    font-size: 25px;
    margin-bottom: 9px;
    grid-template-columns: 2;

}
.contenedorStaff{
    height: 100%;
    width: 90%;
    margin: 5%;
}
h1{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive; 
    font-size: 2.5rem;
    padding-top: 35px;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    font-style: italic;
    
    
}
.columna1{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: aliceblue;
    
}
.presentacion1{
    height: 20%;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
    
}
.presentacion2{
    height: 20%;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
    
}




.usuario{
    width: 50%;
    margin: 25%
}

.columna2{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: aliceblue;
}

.presentacion3{
    margin-bottom: 5%;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
        
    
}
.presentacion4{
    margin-bottom: 5%;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
        
    
}
.presentacion5{

    margin-bottom: 5%;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
        
    
}

.nombreUsuario{
    padding: 5% 5%;
    margin-bottom: 0;
    text-align: center;
}

.descripcionUsuario{
    margin-bottom: 20%;
    text-align: center;
}


