/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
}

/* HEADER */
.bannerSuperior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background: linear-gradient(#169DBF, #554EC8);
    height: 2vh;
    color: #D4D4D4;
}

.textoSuperior{
    font-size: 12px;
}

.bannerInferior{
    display: flex;
    justify-content: space-between;
    padding: 10px 170px 9px 120px;
    background-color: #121212;
    /* height: 70px; */
    height: 8vh;
}

.headerLogo{
    width: 350px;
    height: 38px;
}

.listaHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 750px;
    height: 38px;
}

.itemHeader{
    list-style: none;
}

.itemHeader a{
    color: #D4D4D4;
    font-style: italic;
    font-size: 1rem;
}

/* FOOTER */
.footer{
    width: 100%;
    background-color: #121212;
    color: #D4D4D4;
    text-align: center;
    height: 4vh;
}

.listaFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px;
    font-size: 1rem;
    list-style: none;
    height: 4vh;
}

.listaFooter a{
    text-decoration: none;
    color: #D4D4D4;
}


/* ------------------------------------------------------------------------------------------ */


/* MAIN */

.main{
    height: 86vh;
    overflow-y: auto;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 65%;
    height: 90%;
}
.carta{
    width: 100%;
    height: 100%;
}
.texto1{
    width: 425px;
    position: absolute;
    top: 220px;
    left: 318px;
}
.texto p{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    color: #121212cb;
}
.texto2{
    width: 300px;
    position: absolute;
    top: 484px;
    left: 875px;
}
.texto2 p{
    font-size: 25px;
    margin-bottom: 9px;
    text-align: center;
}
.avion img{
    position: absolute;
    width: 100px;
    top: 175px;
    left: 1082px;
}